/* -------------------------------------------------------------------------- */
/*                                  TITLE BAR                                 */
/* -------------------------------------------------------------------------- */

/* BAR ---------------------------------------------------------------------- */

div[class*='bar_c38106'] {
  position: relative;
  z-index: 1000;
  border-bottom: 2px solid var(--nso-purple);
}

div[class*='bar_c38106']::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -2px;
  height: 0;
  box-shadow:
    0 2px 0 2px var(--nso-cyan),
    0 4px 0 2px var(--nso-purple);
  pointer-events: none;
  z-index: 100;
}

div[class*='bar_c38106'] div{
  background-color: var(--nso-pink-header);
  color: var(--nso-purple);
  font-family: "PixelMPlus12"
}

/* TEXT --------------------------------------------------------------------- */

div[class*='bar_c38106'] div[class*='title']{
  padding-left: 4px;
  justify-content: flex-start;
}

div[class*='title_c38106'] div[class*='defaultColor__4bd52']::before {
  content: "JINE";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--nso-purple);
  text-align: center;
  top: 2px;
  font-size: 16px;
}

/* LEFT BOX ----------------------------------------------------------------- */

div[class*='bar_c38106'] div[class*='guildIcon_bb0d86']{
  display: none;
}

div[class*='title_c38106'] div[class*='defaultColor__4bd52']{
  color: transparent;
  position: relative;
}

div[class*='title_c38106'] svg {
  display: none;
}

div[class*='title_c38106']::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--nso-purple);
  border-radius: 0%;
  vertical-align: middle;
}

/* WINDOW BUTTONS ----------------------------------------------------------- */


div[class*='winButtons_c38106'] div[aria-label*="Minimize"]{
  margin-right: 5px;
  height: 20px;
  width: 20px;
  background-image: url(https://github.com/angelkawaiix/JINE/blob/main/resources/buttons/button_minimize.png?raw=true) !important;
}

div[class*='winButtons_c38106'] div[aria-label*="Minimize"] svg {
  display: none !important;
}

div[class*='winButtons_c38106'] div[aria-label*="Maximize"]{
  margin-right: 5px;
  height: 20px;
  width: 20px;
  background-image: url(https://github.com/angelkawaiix/JINE/blob/main/resources/buttons/button_maximize.png?raw=true) !important;
}

div[class*='winButtons_c38106'] div[aria-label*="Maximize"] svg {
  display: none !important;
}

div[class*='winButtons_c38106'] div[aria-label*="Close"]{
  margin-right: 5px;
  height: 20px;
  width: 20px;
  background-image: url(https://github.com/angelkawaiix/JINE/blob/main/resources/buttons/button_close.png?raw=true) !important;
}

div[class*='winButtons_c38106'] div[aria-label*="Close"] svg {
  display: none !important;
}

div[class*='trailing_c38106'] div[aria-label*="Help"] svg {
  color: var(--nso-purple)
}