/*
/**
 * @name JINE
 * @author @_xangelkawaiix_ on Instagram
 * @description Needy Streamer Overload inspired Discord theme
 * @version 0.0.0
 * @note used  https://marda33.github.io/SkeuoCord/updates/SkeuoCordBase.css as a template, as i've never made a discord theme before
 */

@import url("JINEbase.css");

@font-face {
  font-family: 'zpix';
  src: url('https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/zpix.ttf?raw=true') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
--nso-cyan: #90f4e4;
--nso-purple: #4d23cf;
--nso-pink-header: #f0d1f1;
--jine-bubble: #cee7ff;}

