/**
 * @name JINE
 * @author Star Angel
 * @version 0.1.0
 * @description Needy Streamer Overload inspired Discord theme
 * @source https://github.com/angelkawaiix/JINE
 */

 /* -------------------------------------------------------------------------- */
 /*                                 CSS IMPORT                                 */
 /* -------------------------------------------------------------------------- */

 @import 'css/main.css';

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "zpix";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/zpix.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelMplus10";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus10-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelMplus12";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus12-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

:root {
  --nso-cyan: #90f3e1;
  --nso-purple: #4d21cb;
  --nso-pink-header: #efcfef;
  --jine-bubble: #cce4fc;
  --nso-pink-body: #fcf0fd;
  --window-transparent: transparent;
  --window-windose: url(https://github.com/angelkawaiix/JINE/blob/6ef4047651aaf8f98becfc35b2b896d302874091/resources/images/FHDbg.png?raw=true)
}

/*
Choose between transparency and the classic windose background
For the classic windose background, set the variable to
  --window-windose
For a transparent backround, enable transparency in vencord and set the variable to 
  --window-transparent
*/

:root {
  --window-background: var(--window-windose);
}


/* -------------------------------------------------------------------------- */
/*                                 APP WINDOW                                 */
/* -------------------------------------------------------------------------- */

.base_c48ade {
  margin: 6px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
}

div[class*="content"]{
  margin-top: 8px;
}

/* WINDOW TRANSPARENCY ------------------------------------------------------ */

html, body {
  background: transparent !important;
  background-color: transparent !important;
}

div[class*="app"],
div[class*="bg"],
div[class*="background"],
div[class*="appContainer"],
div[class*="wrapper"],
div[class*="layer"],
div[class*="chat"],
nav[class*="wrapper"] {
  background: transparent !important;
  background-color: transparent !important;
}

div[class*="appMount"]::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: var(--window-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
}


/* -------------------------------------------------------------------------- */
/*                      WINDOW SEPERATION AND POSITIONING                     */
/* -------------------------------------------------------------------------- */

/* CHANNEL LIST ------------------------------------------------------------- */
div[class*='content'] div[class*='sidebarList']{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 41%;
  width: 20%;
  top: 8%;
  left: 6%;
  position: fixed;
  z-index: 100;
  overflow: hidden
}

/* USER LIST ---------------------------------------------------------------- */

div[class*='content'] div[class*='container_c8ffbb']{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 41%;
  width: 20%;
  left: 6%;
  top: 53%;
  position: fixed;
  overflow: hidden
}

/* USER PANEL --------------------------------------------------------------- */

div[class*='content'] section[aria-label*="User area"]{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 30%;
  width: 18%;
  left: 80%;
  top: 8%;
  position: fixed;
  z-index: 100;
  overflow: hidden
}

/* MAIN TEXT WINDOW --------------------------------------------------------- */
div[class*='content'] main[class*='chatContent']{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 70%;
  width: 50%;
  left: 28%;
  top: calc(8% + 8px + 30px);
  position: fixed;
  overflow: hidden
}


/* CHANNEL HEADER ----------------------------------------------------------- */
div[class*='content'] div[class*='subtitleContainer']{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 0px;
  height: 30px;
  width: 50%;
  left: 28%;
  top: 8%;
  position: fixed;
}


/* -------------------------------------------------------------------------- */
/*                                 MAIN WINDOW                                */
/* -------------------------------------------------------------------------- */

/* CHANNEL HEADER ----------------------------------------------------------- */
div[class*='subtitleContainer'] section[aria-label="Channel header"]{
  padding: 0px;
  background-color: var(--nso-pink-header);
}

section[aria-label="Channel header"] div[class*='children']{
  height: 30px;
  padding: 4px;
}
section[aria-label="Channel header"] div[class*='children']::after{
  background: none;
}
section[aria-label="Channel header"] div[class*='toolbar']{
  height: 30px;
  padding: 4px;
  gap: 0px;
}

section[aria-label="Channel header"] div[class*='toolbar'] div[class*='search']{
  width: 10vw;
}

section[aria-label*="Channel header"] * {
  color: var(--nso-purple);
}

div[class*='subtitleContainer'] h1{
  color: var(--nso-purple);
  font-family: pixelmplus12;
  margin-left: 4px;
}

div[class*='subtitleContainer'] div[class*='children'] div[class*='icon']{
  display: none;
}

div[class*='subtitleContainer'] div[class*='children'] div[class*='icon']{
  color: transparent;
  position: relative;
}

div[class*='subtitleContainer'] div[class*='children'] svg {
  display: none;
}

div[class*='subtitleContainer'] div[class*='avatar']{
  display: none;
  color: transparent;
  position: relative;
}

div[class*='subtitleContainer'] div[class*='children']::before {
  content: "";
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  background-color: var(--nso-purple);
  border-radius: 0%;
  vertical-align: middle;
}

div[class*='subtitleContainer'] div[class*='avatar']{
  margin: 0px;
}