/* -------------------------------------------------------------------------- */
/*                                 About theme                                */
/* -------------------------------------------------------------------------- */

/**
 * @name JINE
 * @author @_xangelkawaiix_ on Instagram
 * @description Needy Streamer Overload inspired Discord theme
 * @version 0.0.0
 */

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "zpix";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/zpix.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelMplus10bold";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus10-Bold.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PixelMplus10";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus10-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PixelMplus12bold";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus12-Bold.ttf?raw=true")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PixelMplus12";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus12-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --nso-cyan: #90f3e1;
  --nso-purple: #4d21cb;
  --nso-pink-header: #efcfef;
  --jine-bubble: #cce4fc;
}
