/**
 * @name JINE
 * @author Star Angel
 * @version 0.1.0
 * @description Needy Streamer Overload inspired Discord theme
 * @source https://github.com/angelkawaiix/JINE
 */

 /* -------------------------------------------------------------------------- */
 /*                                 CSS IMPORT                                 */
 /* -------------------------------------------------------------------------- */

 @import 'css/main.css';

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "zpix";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/zpix.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelMplus10";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus10-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelMplus12";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus12-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

:root {
  --nso-cyan: #90f3e1;
  --nso-purple: #4d21cb;
  --nso-pink-header: #efcfef;
  --jine-bubble: #cce4fc;
  --nso-pink-body: #fcf0fd;
}

/* -------------------------------------------------------------------------- */
/*                                 APP WINDOW                                 */
/* -------------------------------------------------------------------------- */

.base_c48ade {
  margin: 6px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
}

div[class*="content"]{
  margin-top: 8px;
}

/* TEMPORARILY HIDING USER PANNEL FOR EASE OF ACCESS ------------------------ */
.panels_c48ade{
  visibility: visible;
}

/* -------------------------------------------------------------------------- */
/*                      WINDOW SEPERATION AND POSITIONING                     */
/* -------------------------------------------------------------------------- */

/* CHANNEL LIST ------------------------------------------------------------- */
div[class*='content'] div[class*='sidebarList']{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 41%;
  width: 20%;
  top: 8%;
  left: 6%;
  position: fixed;
  z-index: 100;
  overflow: hidden
}

/* USER LIST ---------------------------------------------------------------- */

div[class*='content'] div[class*='container_c8ffbb']{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 41%;
  width: 20%;
  left: 6%;
  top: 53%;
  position: fixed;
  overflow: hidden
}

/* USER PANEL --------------------------------------------------------------- */

div[class*='content'] section[aria-label*="User area"]{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 30%;
  width: 18%;
  left: 80%;
  top: 8%;
  position: fixed;
  z-index: 100;
  overflow: hidden
}

/* MAIN TEXT WINDOW --------------------------------------------------------- */
div[class*='content'] main[class*='chatContent']{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 70%;
  width: 50%;
  left: 28%;
  top: calc(8% + 50px);
  position: fixed;
  overflow: hidden
}


/* CHANNEL HEADER ----------------------------------------------------------- */
div[class*='content'] div[class*='subtitleContainer']{
  margin: 5px;
  border-radius: 0px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
  padding: 0px;
  height: 30px;
  width: 50%;
  left: 28%;
  top: 8%;
  position: fixed;
  overflow: hidden
}




