/**
 * @name JINE
 * @author Star Angel
 * @version 0.1.0
 * @description Needy Streamer Overload inspired Discord theme
 * @source https://github.com/angelkawaiix/JINE
 */

 /* -------------------------------------------------------------------------- */
 /*                                 CSS IMPORT                                 */
 /* -------------------------------------------------------------------------- */

 @import 'css/main.css';

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "zpix";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/zpix.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelMplus10";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus10-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelMplus12";
  src: url("https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/PixelMplus12-Regular.ttf?raw=true")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

:root {
  --nso-cyan: #90f3e1;
  --nso-purple: #4d21cb;
  --nso-pink-header: #efcfef;
  --jine-bubble: #cce4fc;
}

/* -------------------------------------------------------------------------- */
/*                                 APP WINDOW                                 */
/* -------------------------------------------------------------------------- */

.base_c48ade {
  margin: 6px;
  border: 2px solid var(--nso-purple);
  box-shadow:
    0 0 0 4px var(--nso-cyan),
    0 0 0 6px var(--nso-purple);
  position: relative;
  z-index: 0;
  overflow: visible;
}





