/*
Theme Information
================

Created by: @_xangelkawaiix_ (Instagram)
Version: 0.0.0
Description: JINE/NSO inspired Discord theme

*/

@font-face {
  font-family: 'zpix';
  src: url('https://github.com/angelkawaiix/JINE/blob/main/resources/fonts/zpix.ttf?raw=true') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --nso-cyan: #90f4e4;
  --nso-purple: #4d23cf;
  --nso-pink-header: #f0d1f1;
--jine-bubble: #cee7ff;}

/* === NSO outlines === */
.nso-outline, {
    outline: 3px solid var(--nso-purple);
    outline-offset: 0px;
    box-shadow:
        0 0 0 6px var(--nso-cyan),
        0 0 0 9px var(--nso-purple);
}

/* === Jine Background === */
main.chatContent_f75fb0 {
    background: url("https://github.com/angelkawaiix/JINE/blob/main/resources/images/JINEBG.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
}

/* === Jine Message Bubble === */
.cozy_c19a55 .messageContent_c19a55 {
    background: var(--jine-bubble);
    border-radius: 8px;
    margin: 8px 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.markup__75297{
  font-family: Zpix;
  color: var(--nso-purple);
}

.zalgo_c19a55.cozy_c19a55 .header_c19a55 {
    font-family: 'zpix';
    text-shadow: 1px 1px 2px black;
}

.cozy_c19a55 .timestamp_c19a55{
  color: var(--nso-purple);
}

/* message sending */
.themedBackground__74017{
  background-color: white;
  border-radius: 0;
  outline: 2px;
  outline-color:white;
}

.channelTextArea_f75fb0 {
    background: transparent;
}